.hero {
  width: 100%;
  color: #333;
}

.title {
  margin: 0;
  width: 100%;
  padding-top: 0px;
  line-height: 1.15;
  font-size: 48px;
  text-align: center;
}

.description {
  text-align: center;
}
